*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("../pattern-background-desktop.svg") no-repeat top center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-height: 100vh;
    width:  100vw;
    background-size: contain;
    background-color: ;
}
.content{
    background-color: #fff;
}
.description{
    max-width: 100%;
}
.pricing-container{
    background: #eff4f8;
}
.button{
    text-decoration: underline;
    color: rgb(88, 88, 239);
}
.btn{
    background: #382ae0;
    
    box-shadow: 0px 4px 4px rgba(56, 42, 224, 0.25);
    
}